.footer {
  width: 100%;
  min-height: 629px;
  padding-top: 100px;
  position: relative;
  background: linear-gradient(180deg, rgb(27, 26, 27), rgb(55, 10, 55) 100%);
}

.footer .container {
  width: 1180px;
  margin: 0 auto;
}

.contacts__contact-us {
  margin-top: 38px;
}

.contacts__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.contacts a,
p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  display: block;
}

.contacts__text::before {
  content: url(../Графика/location.svg);
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

.contacts__tel::before {
  content: url(../Графика/bx_bxs-phone-call.svg);
  float: left;
  margin-right: 30px;
}

.contacts__mail {
  margin-top: 10px;
}

.contacts__mail::before {
  content: url(../Графика/envelope.svg);
  float: left;
  margin-right: 30px;
}

.social {
  height: 49px;
  white-space: nowrap;
  margin-top: 40px;
}

.social__item {
  display: inline-block;
  padding-right: 27px;
}

.map__img {
  position: absolute;
  right: 360px;
  bottom: 180px;
}

.footer__text {
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
}

.footer__text-1 {
  position: absolute;
  left: 360px;
  bottom: 32px;
}

.footer__text-2 {
  position: absolute;
  right: 360px;
  bottom: 32px;
}

.footer__text-3 {
  position: absolute;
  right: 360px;
  bottom: 10px;
}
