.footer {
  min-height: 629px;
  padding-top: 100px;
  position: relative;
  background: linear-gradient(180deg, rgb(27, 26, 27), rgb(55, 10, 55) 100%);
}

.contacts__contact-us {
  margin-top: 44px;
}

.contacts__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 46px;
}

.contacts a,
p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  display: block;
}

.contacts__text::before {
  content: url(../img/footer/location.svg);
  float: left;
  margin-right: 24px;
  margin-top: 13px;
}

.contacts__tel::before {
  content: url(../img/footer/phone.svg);
  float: left;
  margin-right: 26px;
}

.contacts__tel {
  transition: 2s;
}

.contacts__mail {
  margin-top: 10px;
  transition: 2s;
}

.contacts__mail::before {
  content: url(../img/footer/mail.svg);
  float: left;
  margin-right: 25px;
}

.contacts__tel:hover {
  color: var(--main-three-color);
}

.contacts__mail:hover {
  color: var(--main-three-color);
}

.social {
  height: 49px;
  white-space: nowrap;
  margin-top: 40px;
}

.social__item {
  display: inline-block;
  padding-right: 22px;
}

.social__img {
  display: block;
  border-radius: 25px;
  width: 100%;
  height: auto;
  transition: background-color 2s;
}

.social__img:hover {
  background-color: #eadeed;
  border-radius: 25px;
}

.social__img:active {
  background-color: var(--main-three-color);
  border-radius: 25px;
}

.social__img-container:focus {
  outline: 1px solid var(--main-three-color);
  background-color: #eadeed;
}

.contacts__flex {
  display: inline-flex;
  gap: 179px;
}

.footer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.footer__block-2 {
  text-align: right;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  height: 210px;
  padding-top: 146px;
}

.map {
  background-image: url(../img/footer/map.jpg);
  background-repeat: no-repeat;
  width: 680px;
  height: 274px;
}