.present {
  width: 1180px;
  height: 739px;
  padding-top: 100px;
}

.present__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.present__list {
  width: 100%;
  height: 496px;
  display: flex;
  gap: 40px 20px;
  flex-flow: column wrap;
}

.present__item {
  width: 380px;
  height: 228px;
  position: relative;
}

.present__text-1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  position: absolute;
  left: 40px;
  bottom: 28px;
}

.present__text-2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  position: absolute;
  left: 40px;
  bottom: 6px;
}

.present__item--vr {
  background-image: url(../img/vr.jpg);
}

.present__item--audio {
  background-image: url(../img/audio.jpg);
}

.present__item--karaoke {
  background-image: url(../img/micro.jpg);
}

.present__item--game {
  background-image: url(../img/game.jpg);
}

.present__item--cinema {
  background-image: url(../img/netflix.jpg);
}

.present__item--play {
  background-image: url(../img/sony.jpg);
}
