.reservation {
  width: 100%;
  min-height: 1200px;
  padding: 80px 0;
  background-color: #440f51;
  position: relative;
}

.reservation .container {
  width: 1180px;
  margin: 0 auto;
}

.reservation__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

fieldset {
  border: 0;
}

.reservation__block {
  margin-bottom: 60px;
}

.reservation__radio {
  display: none;
}

.reservation__span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  user-select: none;
  color: #111;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.reservation__block-1 {
  display: flex;
  justify-content: space-between;
}

.reservation__label input[type="radio"]:checked + .reservation__span {
  border: 3px solid #6c0287;
  background-color: #6c0287;
  color: #ffffff;
}

.reservation__span:hover {
  border: 3px solid #640aa3;
  background-color: #eadeed;
}

.reservation__span:focus {
  border: 3px solid #640aa3;
  background-color: #ffffff;
}

.reservation__legend {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.reservation__block-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 330px;
  gap: 100px;
}

.reservation__block-2 .reservation__label {
  display: block;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.reservation__block-2 .reservation__input {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.reservation__block-2 .reservation__input--lc {
  margin-bottom: 0;
}

.reservation__input--focus:focus {
  outline: 1px solid #CD06FF;
}

.reservation__input--big {
  width: 300px;
  height: 52px;
}

.reservation__input--small {
  width: 134px;
  height: 52px;
}

.reservation__container {
  position: relative;
  height: 200px;
}

.block-1 {
  display: inline-flex;
  flex-flow: row wrap;
  height: 140px;
  width: 300px;
  gap: 36px 32px;
  position: absolute;
  left: 50px;
}

.block-2 {
  display: inline-flex;
  flex-flow: column wrap;
  gap: 18px 0;
  position: absolute;
  bottom: 60px;
  left: 420px;
}

.block-3 {
  display: inline-flex;
  flex-flow: column wrap;
  gap: 18px 0;
  position: absolute;
  bottom: 60px;
  right: 50px;
}

.reservation__button {
  width: 300px;
  height: 60px;
  background-color: #ffffff;
  color: #6c0287;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  position: absolute;
  right: 430px;
  bottom: 80px;
}

.reservation__button:hover {
  border: 3px solid #6c0287;
  background-color: #eadeed;
}

.reservation__button:focus {
  border: 3px solid #6c0287;
  background-color: #ffffff;
}

.reservation__button:active {
  background-color: #eadeed;
}

.reservation__input--small:focus,
.reservation__input--big:focus {
  border: 2px solid #cd06ff;
  background: #ffffff;
  outline: none;
}
