.reservation {
  min-height: 1114px;
  padding-top: 80px;
  background-color: var(--main-two-color);
  position: relative;
}

.reservation__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 46px;
  text-transform: uppercase;
}

.reservation__radio {
  display: none;
}

.reservation__span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  background-color: var(--main-four-color);
  cursor: pointer;
  user-select: none;
  color: #111;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 2s;
}

.reservation__block-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.reservation__label input[type="radio"]:checked + .reservation__span {
  border: 3px solid var(--main-one-color);
  background-color: var(--main-one-color);
  color: var(--main-four-color);
  transition: background-color 2s, color 3s;
}

.reservation__span:hover {
  border: 3px solid #640aa3;
  background-color: #eadeed;
}

.reservation__span:focus {
  border: 3px solid #640aa3;
  background-color: var(--main-four-color);
}

.reservation__legend {
  color: var(--main-four-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.reservation__block-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 347px;
}

.reservation__block-2 .reservation__label {
  display: flex;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  align-items: center;
}

.reservation__block-2 .reservation__input {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.reservation__block-2 .reservation__input--lc {
  margin-bottom: 0;
}

.reservation__input--focus:focus {
  outline: 1px solid var(--main-three-color);
}

.reservation__block-3 {
  height: 258px;
}

.reservation__input--big {
  width: 300px;
  height: 52px;
}

.reservation__input--small {
  width: 134px;
  height: 52px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.reservation__input--name {
  width: 280px;
  height: 52px;
}

.reservation__input--surname {
  width: 280px;
  height: 52px;
}

.reservation__container {
  position: relative;
  height: 161px;
  display: grid;
  width: 180px;
  grid-template-columns: 400px 330px 350px;
  grid-template-rows: 160px;
}

.block-1 {
  display: inline-flex;
  flex-flow: row wrap;
  height: 159px;
  width: 400px;
  gap: 36px 32px;
  padding-left: 100px;
  padding-top: 19px;
}

.block-1 .reservation__input--big {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.block-2, .block-3 {
  display: inline-flex;
  flex-flow: column wrap;
  gap: 20px 0;
  padding-left: 50px;
  padding-top: 4px;
}

.reservation__button {
  width: 300px;
  height: 60px;
  background-color: var(--main-four-color);
  color: var(--main-one-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 2s;
}

.reservation__button:hover {
  border: 3px solid var(--main-one-color);
  background-color: #eadeed;
}

.reservation__button:focus {
  border: 3px solid var(--main-one-color);
  background-color: var(--main-four-color);
}

.reservation__button:active {
  background-color: #eadeed;
}

.reservation__input--small:focus,
.reservation__input--big:focus {
  border: 2px solid var(--main-three-color);
  background: var(--main-four-color);
  outline: none;
}

fieldset {
  padding: 0;
  border: 0;
}

.reservation__legend--console {
  text-align: left;
  margin-bottom: 23px;
}

.reservation__legend--game {
  margin-bottom: 17px;
}

.reservation__legend--additionally {
  margin-bottom: 17px;
}

.reservation__console {
  padding-left: 14px;
  display: grid;
  row-gap: 20px;
}

.reservation__game {
  padding-right: 14px;
  display: grid;
  row-gap: 5px;
}

.reservation__additionally {
  padding-right: 25px;
  display: grid;
  row-gap: 21px;
  grid-template-rows: 28px 25px 25px;
}

.button {
  position: relative;
  width: 1080px;
  height: 90px;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.block-2 .reservation__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.block-3 .reservation__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
